
*.pyc
PYTHON/Python-oo/teste.py
PYTHON/Python-oo/cliente.py
PYTHON/Python-oo/teste.py
PYTHON/Python-oo/teste.py
PYTHON/Python-oo/teste.py
PYTHON/Python-oo/teste.py
*.py
*.py
PYTHON/Python-oo/teste.py
*.py
PYTHON/Python-oo/teste.py
!PYTHON/Python-oo/
!*.py